h1{
	font-size: 30px;
	text-align: center;
	color:  #e9bc04
}

p{
	font-size: 20px;
	text-align: left;
	font-family: Helvetica, sans-serif;
	color:   #07ead9;
}

body {
	background-color:  #075806;
}